/*
	Global CSS - 03/2021
	CSS Sistem Reset oleh BangNomad.

	Copyright 2021. All Right Reserved.
*/

/* ! CSS Reset */
/* * Color Reset */
:root {
	--color1: #2196f3;
	--color2: #d44;
	--color3: #ffd700;
	--color4: #080;
	--color5: #f1f2f6;
	--color6: #fff;
	--color7: #ccc;
	--color8: #111;
	--color9: #1b1c1d;
	--color10: #333;
	--bgColor: rgba(255,255,255,.2);
}
/* * Margin Reset */
:root {
	--margin1: 3.5rem auto 0;
	--margin2: 1rem;
	--margin3: 2rem;
	--margin4: 1rem 2rem;
	--margin5: 2rem 1rem;
}
/* * Padding Reset */
:root {
	--padding1: 2.5rem;
	--padding2: 1rem;
	--padding3: 2rem;
	--padding4: 1rem 2rem;
	--padding5: 2rem 1rem;
}
/* * Border Reset */
:root {
	--borderRadius1: 50%;
	--borderRadius2: 1rem;
	--border1: .1rem solid #a7a6a6;
	--border2: .5rem solid #333;
}
/* * Shadow Reset */
:root {
	--shadow1: 0 1rem 2rem rgba(0,0,0,.3);
	--shadow2: 0 .2rem .2rem rgba(0,0,0,.3);
	--shadow3: 0 .5rem 1rem #111;
}
/* * Font Size */
:root {
	--fontSize1: 1.3rem;
	--fontSize2: 1.7rem;
	--fontSize3: 2rem;
	--fontSize4: 2.5rem;
	--fontSize5: 3rem;
}
/* * Other Reset */
:root {
	--widthSize: 100%;
	--heightSize: 100vh;
	--htmlSize: 62.5%;
	--fontWeight: 500;
	--justify: justify;
	--fixed: fixed;
	--cover: cover;
	--none: none;
}

/* ! All */
* {
	margin: 0; padding: 0;
	box-sizing: border-box;
	font-family: verdana, geneva, tahoma, arial, sans-serif;
	outline: var(--none); resize: var(--none);
	text-decoration: var(--none);
}
html {
	font-size: var(--htmlSize);
	scroll-behavior: smooth;
}
body {
	background: var(--color5);
}
/* * Other */
u {
	text-decoration: underline;
}
dd {
	padding-left: var(--padding3);
	margin-bottom: var(--margin2);
}
th {
	font-weight: var(--fontWeight);
	padding: var(--padding2);
}
dialog {
	margin: auto;
	padding: var(--padding2);
}
fieldset {
	margin: 3rem 0;
	padding: var(--padding3);
	text-align: var(--justify);
}
legend {
	font-size: var(--fontSize3);
}
section {
	width: var(--widthSize);
	padding: 5rem 10rem;
	min-height: var(--heightSize);
}
/* * Button Home */
.btn-home {
	position: var(--fixed);
	bottom: 5rem; right: 7rem;
	z-index: 10;
}
.btn-home .home {
	position: relative;
	background: var(--color10);
	border-radius: var(--borderRadius1);
}
.btn-home .home a {
	display: block;
	background: rgba(44,62,80,1);
	padding: var(--padding2);
	color: var(--color6);
	font-size: var(--fontSize5);
	border-radius: var(--borderRadius1);
	cursor: pointer;
}
.btn-home .home a:hover {
	background: transparent;
}
/* * Disabled */
.disabled {
	pointer-events: var(--none);
	cursor: default;
}
/* * Pre Code */
.data-code {
	position: relative;
	/*width: var(--widthSize);*/
	max-width: 74.7rem; /*72.2rem*/
	height: 15rem;
	/*margin: var(--margin1);*/
	font-size: var(--fontSize2);
	font-family: monospace, sans-serif;
	overflow: auto;
	/*white-space: pre-line;*/
}
/* ! Copy Button */
.copy-code-button {
	color: var(--color8);
	background: var(--color6);
	border-color: var(--color8);
	border: .2rem solid var(--color8);
	border-radius: .5rem .5rem 0 0;
	display: block;
	margin-left: auto;
	margin-right: 0;
	margin-bottom: -0.1rem;
	padding: var(--padding2);
}
.copy-code-button:hover {
	cursor: pointer;
	background: #fff;
}
.copy-code-button:focus {
	background: #e6e6e6;
	outline: 0;
}
.copy-code-button:active {
	background: #d9d9d9;
}
.highlight {
	width: var(--widthSize);
}
.highlight pre {
	margin: 0;
}

/* ! Navbar */
.navbar {
	position: fixed;
	top: 0; left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: var(--widthSize);
	background: var(--color5);
	padding: 2rem 5rem;
	box-shadow: var(--shadow2);
	z-index: 1;
}
nav.nav-static {
	position: static;
}
.navbar .brand {
	color: var(--color10);
	font-size: var(--fontSize4);
	font-weight: var(--fontWeight);
	letter-spacing: .1rem;
	text-transform: uppercase;
}
.navbar .brand span {
	color: var(--color1);
}
.navbar .back:last-child {
	display: none;
}
.navbar .back {
	display: block;
	background: var(--color8);
	color: var(--color6);
	padding: var(--padding4);
	font-size: var(--fontSize1);
	font-weight: var(--fontWeight);
	border-radius: var(--borderRadius2);
}
.navbar .back:hover {
	background: rgba(17,17,17,.8);
}

/* ! Container */
.container {
	position: relative;
	width: var(--widthSize);
	min-height: var(--heightSize);
}
/* * Started */
.started {
	width: var(--widthSize);
	border-bottom: var(--border1);
}
.started .starBx {
	max-width: 85rem;
	margin: 10rem auto 3.5rem;
	padding: var(--padding1);
	font-size: var(--fontSize2);
	text-align: var(--justify);
}
.started .starBx.top {
	margin-top: 3rem;
}
.title {
	margin-bottom: var(--margin3);
	font-size: var(--fontSize5);
	font-weight: var(--fontWeight);
}
.basic {
	width: var(--widthSize);
	min-height: var(--heightSize);
	background: url(../img/memphis.png);
	background-attachment: fixed;
}
.basic .basicBx {
	max-width: 60rem;
	margin: 0 auto;
	padding: 0 1rem 2rem;
	background: var(--color5);
	font-size: var(--fontSize2);
	text-align: var(--justify);
}
/* * Section Materi */
.data-content {
	display: flex;
}
.sidebar {
	position: sticky;
	top: 5rem;
	min-width: 25%;
	height: var(--heightSize);
}
.sidebar .sidenav {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding-right: var(--padding2);
	font-size: var(--fontSize1);
	border-right: var(--border1);
}
.sidebar .sidenav .h4 {
	align-self: flex-start;
	margin-bottom: var(--margin2);
	font-weight: var(--fontWeight);
	font-size: var(--fontSize2);
}
.sidebar .sidenav .h4 a {
	color: #666;
}
.sidebar .sidenav ul {
	list-style: none;
	margin-bottom: var(--margin2);
}
.sidebar .sidenav li {
	line-height: 2rem;
	padding-left: var(--padding2);
	border-left: .1rem solid #dfdede;
}
.sidebar li a {
	color: #999;
}
.sidebar :is(.sidenav .h4 a:hover, li a:hover) {
	color: var(--color8);
}
article {
	min-height: 50%;
	padding: 0 7rem;
}
article .h2 {
	font-size: var(--fontSize3);
	font-weight: var(--fontWeight);
}
.content {
	/* position: relative; */
	padding: 5rem 0 2rem;
	border-bottom: .5rem double #a7a6a6;
}
.content .col {
	margin-bottom: var(--margin3);
}
.content .col .h3 {
	font-size: var(--fontSize2);
	font-weight: var(--fontWeight);
}
.content .col:first-child .h3 {
	margin-bottom: .5rem;
	font-size: var(--fontSize3);
}
.content :is(.col p:first-child, .col p, .col .line) {
	font-size: var(--fontSize2);
	text-align: var(--justify);
}
.content .col details summary {
	color: var(--color1);
	margin-top: .3rem;
	cursor: pointer;
}
.content .col :is(details, .output) {
	font-size: var(--fontSize2);
}
.output {
	position: relative;
	width: var(--widthSize);
	height: 15rem;
	margin-top: .3rem;
	padding: var(--padding3);
	overflow: auto;
	border: .2rem solid var(--color10);
}
.content .col :is(.output.zero, .data-code.zero) {
	height: 0%;
}
/* ! More Class */
.output.mid { height: 9rem; }
.space { letter-spacing: .1rem; }
.mt{ margin-top: var(--margin2); }

@media screen and (max-width: 991px) {
	/* * Button Home */
	.btn-home {
		bottom: 3rem; right: 3rem;
	}
	/* ! Navbar */
	.navbar {
		padding: 2rem 10rem;
	}
	nav.nav-static { position: var(--fixed); }
	/* ! Started */
	.started .starBx.top { margin-top: 7rem; }
}
@media screen and (max-width: 600px) {
	/* ! Navbar */
	.navbar {
		background: var(--color8);
		padding: var(--padding3);
	}
	.navbar .brand {
		color: var(--color6);
	}
	.navbar .back:nth-child(2) {
		display: none;
	}
	.navbar .back:last-child {
		display: inline-block;
	}
	.navbar .back {
		background: var(--color5);
		color: var(--color8);
	}
	/* ! Container */
	.container .data-content { padding: 2rem 0; }
	/* ! Aside */
	aside { display: none; }
	/* ! Article */
	.container .data-content article {
		width: 100%;
		padding: 0 2rem;
	}
}