/*
	Global CSS - 03/2021
	CSS Sistem Reset oleh BangNomad.

	Copyright 2021. All Right Reserved.
*/

/* ! CSS Reset */
:root {
	--heightSize: 100vh;
	--mainColor: #111;
	--btnColor1: #2196f3;
	--btnColor2: #d44;
	--bgColor: #f1f2f6;
	--margin: 3.5rem auto 0;
	--marginTop: 2rem;
	--padding1: 1rem;
	--padding2: 1rem 2rem;
	--bxShadow: 0 1rem 2rem rgba(0,0,0,.3);
	--borderRadius: 50%;
	--fontWeight: lighter;
}
* {
	margin: 0; padding: 0;
	box-sizing: border-box;
	font-family: verdana, geneva, tahoma, arial, sans-serif;
	outline: none; resize: none;
	list-style: none; text-decoration: none;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	background: var(--bgColor);
}
section {
	position: relative;
	width: 100%;
	background: var(--bgColor);
	padding: 10rem;
}

/* ! All */
/* * Button Home */
.btn-home {
	position: fixed;
	bottom: 5rem; right: 7rem;
	z-index: 10;
}
.btn-home .home {
	position: relative;
	background: #333;
	border-radius: var(--borderRadius);
}
.btn-home .home a {
	display: block;
	background: rgba(44,62,80,1);
	color: rgba(255,255,255,1);
	font-size: 3rem;
	padding: var(--padding1);
	border-radius: var(--borderRadius);
	cursor: pointer;
}
.btn-home .home a:hover {
	background: transparent;
}
.disabled {
	pointer-events: none;
	cursor: default;
}
/* * Heading */
.heading {
	width: 100%;
	margin-bottom: 3rem;
	color: var(--mainColor);
	text-align: center;
}
.heading .head {
	font-size: 2.5rem;
	font-weight: var(--fontWeight);
}
.heading .head::after {
	content: '';
	display: block;
	width: 20%;
	margin: auto;
	padding-bottom: var(--padding1);
	border-bottom: .2rem solid var(--btnColor1);
}
/* * Public Button */
.btn-btn {
	display: inline-block;
	background: var(--btnColor1);
	color: #fff;
	margin-top: 2rem;
	margin-right: 2rem;
	padding: var(--padding2);
	font-size: 1.7rem;
	border-radius: 1rem;
}
.btn-btn:hover {
	background: rgba(33,150,243,.8);
}
/* * Button Box */
.btn-box {
	display: flex;
	border-bottom: .1rem solid #ccc;
}
.btn-box button {
	background: transparent;
	border: none; outline: none;
	margin-right: 2rem;
	padding: 1.4rem .6rem;
	font-size: 1.7rem;
	font-weight: var(--fontWeight);
	cursor: pointer;
}
.btn-box button .bx {
	margin-right: 1rem;
}
/* * Button Group */
.box-left .btn-group {
	display: flex;
	flex-flow: wrap;
	margin-top: 2rem;
}
.box-left .btn-group .btn {
	background: var(--btnColor1);
	color: #fff;
	margin: 0 1.5rem 0 0;
	padding: 1rem;
	font-size: 1.7rem;
	letter-spacing: .1rem;
	border-radius: 1rem;
}
.box-left .btn-group .btn:hover {
	background: rgba(33,150,243,.8);
}
/* Intro Js */
.tooltip * {
	font-size: 2rem;
}

/* ! Header */
header {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 10rem;
	transition: .3s;
	z-index: 5;
}
header.sticky {
	background: var(--bgColor);
	padding: 2rem 10rem;
	box-shadow: var(--bxShadow);
}
header .brand {
	color: var(--mainColor);
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: var(--fontWeight);
	letter-spacing: .1rem;
}
header .brand span {
	color: var(--btnColor1);
}
header .navbar ul {
	position: relative;
	display: flex;
}
header .navbar ul li {
	position: relative;
}
header .navbar ul li a {
	position: relative;
	color: var(--mainColor);
	display: inline-block;
	margin: 0 1rem;
	padding: var(--padding1);
	font-size: 1.5rem;
	font-weight: var(--fontWeight);
}
header .navbar ul li a:hover {
	color: #d44;
}
header .navbar ul :is(li:nth-child(6) a) {
	background: var(--btnColor1);
	color: #fff;
	border-radius: 1rem;
}
header .navbar ul :is(li:nth-child(6) a):hover {
	background: rgba(33,150,243,.8);
}

/* ! Container */
#container {
	position: relative;
	width: 100%;
	min-height: var(--heightSize);
}
/* * Opening */
.opening {
	padding: 15rem 10rem 0;
}
.opening .titleBx {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.opening .titleBx .title {
	color: var(--mainColor);
	font-size: 2.5rem;
	margin-bottom: 1rem;
	font-weight: var(--fontWeight);
	letter-spacing: .2rem;
}
.opening .titleBx .title span {
	color: var(--btnColor1);
}
.opening .titleBx .version {
	color: var(--mainColor);
	font-size: 2rem;
	font-weight: var(--fontWeight);
}
.opening .textBx p {
	font-size: 1.7rem;
	text-align: justify;
}
.opening .share {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: wrap;
	margin-top: 5rem;
}
.opening .share .update {
	align-self: flex-start;
	position: relative;
	margin-top: var(--marginTop);
}
.opening .share .update .title {
	color: var(--mainColor);
	font-size: 2rem;
	letter-spacing: .1rem;
	font-weight: var(--fontWeight);
}
.opening .share .update ul li {
	margin-left: 3rem;
	font-size: 1.7rem;
	line-height: 3rem;
	list-style: decimal;
}
.opening .share .tableBx .table :is(thead th, tbody th) {
	padding: var(--padding1);
	font-size: 1.7rem;
	font-weight: var(--fontWeight);
}
/* * Notice */
.notice {
	position: relative;
	max-width: 40rem;
	height: 10rem;
	background: #f1f2f6;
	margin: var(--margin);
	border-radius: 1rem;
	box-shadow: var(--bxShadow);
	z-index: 2;
}
.notice .noteBx {
	position: relative;
	text-align: center;
	padding: 1rem;
}
.notice .noteBx .note-head {
	padding-bottom: 0.5rem;
	color: var(--btnColor2);
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: .1rem;
}
.notice .noteBx p {
	margin-top: 2rem;
	font-size: 1.3rem;
}
.notice .noteBx a {
	color: var(--btnColor1);
}
.notice .noteBx a:hover {
	color: var(--btnColor2);
}
/* * About */
.about {
	padding-bottom: 0;
}
.about .aboutBx {
	position: relative;
	display: flex;
	justify-content: space-between;
}
.about .aboutBx .textBx {
	order: 2;
	margin-left: 7rem;
}
.about .aboutBx .textBx .title {
	font-size: 2rem;
	font-weight: var(--fontWeight);
	margin-bottom: .5rem;
}
.about .aboutBx .textBx p {
	text-align: justify;
	font-size: 1.7rem;
}
.about .width {
	order: 1;
	min-width: 20%;
}
.about .aboutBx .imgBx img {
	position: relative;
	width: 100%;
	object-fit: cover;
	border-radius: var(--borderRadius);
	box-shadow: var(--bxShadow);
	filter: brightness(1.05) contrast(1.2);
}
/* * Content */
.content {
	width: 100%;
	height: 77rem;
	position: relative;
	overflow: hidden;
}
.content .box {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5% auto; /* 2% */
	transform: translateX(100%);
	transition: .3s;
}
.content .box .box-left {
	padding: 0 2rem 0 0;
}
.content .box .box-left .title {
	font-size: 2rem;
	letter-spacing: .1rem;
	font-weight: var(--fontWeight);
}
.content .box .box-left p {
	font-size: 1.7rem;
	text-align: justify;
	padding: 1rem 0;
}
.content .box .box-right {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 40%;
	height: 40rem;
	margin-right: 10rem;
	border: .5rem solid #222;
}
.content .box .box-right .logo {
	color: #222;
	font-size: 4rem;
	text-shadow: 0 .2rem .2rem #fff;
}
.content :is(#content1, #content5, #content10, #content15, #content20) {
	transform: translateX(0);
}
#btn1 { color: #ff7846; }
#btn5 { color: #0b0ba2; }
#btn10 { color: #ffd700; }
#btn15 { color: #55efc4; }
#btn20 { color: #1b1c1d; }

/* * Front-End */
.fe .btn-box button:hover:nth-child(1) .bx { color: #ff7846; }
.fe .btn-box button:hover:nth-child(2) .bx { color: var(--btnColor1); }
.fe .btn-box button:hover:nth-child(3) .bx { color: #ffd700; }
.fe .btn-box button:hover:nth-child(4) .bx { color: #00f; }
.box-right.box1 { background: #ff7846; }
.box-right.box2 { background: var(--btnColor1); }
.box-right.box3 { background: #ffd700; }
.content .box .box-right.box4 { background: #333; border: .5rem solid var(--btnColor1); }
.content .box .box-right.box4 .logo {
	color: #2196f3;
}

/* * Back-End */
.be .btn-box button:hover:nth-child(1) .bx { color: #0b0ba2; }
.be .btn-box button:hover:nth-child(2) .bx { color: #9c88ff; }
.be .btn-box button:hover:nth-child(3) .bx { color: #273c75; }
.be .btn-box button:hover:nth-child(4) .bx { color: #049c04; }
.be .btn-box button:hover:nth-child(5) .bx { color: #d44; }
.box-right.box5 { background: #0b0ba2; }
.box-right.box6 { background: #9c88ff; }
.box-right.box7 { background: linear-gradient(to right bottom, #273c75 50%, #ffd700 50%); }
.box-right.box8 { background: #049c04; }
.box-right.box9 { background: #d44; }

/* * Database */
.db .btn-box button:hover:nth-child(1) .bx { color: #ffd700; }
.db .btn-box button:hover:nth-child(2) .bx { color: #48dbfb; }
.db .btn-box button:hover:nth-child(3) .bx { color: #800000; }
.db .btn-box button:hover:nth-child(4) .bx { color: #4cd137; }
.db .btn-box button:hover:nth-child(5) .bx { color: #00a8ff; }
.box-right.box10 { background: linear-gradient(to left, #2196f3 52%, #ffd700 48%); }
.box-right.box11 { background: linear-gradient(to top, #ffd700, #48dbfb); }
.box-right.box12 { background: #800000; }
.box-right.box13 { background: linear-gradient(to bottom, #4cd137, #44bd32); }
.box-right.box14 { background: linear-gradient(to bottom, #00a8ff, #0097e6); }

/* * Multimedia */
.mm .btn-box button:hover:nth-child(1) .bx { color: #55efc4; }
.mm .btn-box button:hover:nth-child(2) .bx { color: #0984e3; }
.mm .btn-box button:hover:nth-child(3) .bx { color: #fc427b; }
.mm .btn-box button:hover:nth-child(4) .bx { color: #192a56; }
.mm .btn-box button:hover:nth-child(5) .bx { color: #353b48; }
.box-right.box15 { background: linear-gradient(to bottom, #00b894, #55efc4); }
.box-right.box16 { background: linear-gradient(to bottom, #0984e3, #ccc, #0984e3); }
.box-right.box17 { background: #6d214f; }
.content .box .box-right.box17 .logo { color: #fc427b; }
.box-right.box18 { background: #192a56; }
.content .box .box-right.box18 .logo { color: #2196f3; }
.box-right.box19 { background: #353b48; }
.content .box .box-right.box19 .logo { color: #999; }

/* * More */
.more .btn-box button:hover:nth-child(1) .bx { color: #1b1c1d; }
.more .btn-box button:hover:nth-child(2) .bx { color: #f00; }
.more .btn-box button:hover:nth-child(3) .bx { color: #e74c3c; }
.content .box .box-right.box20 { background: #333; border: .5rem solid #f0932b; }
.content .box .box-right.box20 .logo { color: #fff; text-shadow: 0 .2rem .2rem #f0932b; }
.box-right.box21 { background: #f00; }
.box-right.box22 { background: linear-gradient(to bottom, #e74c3c, #c0392b); }

/* ! Footer */
footer {
	position: relative;
	background: var(--mainColor);
	padding: 5rem;
}
footer .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
	filter: invert(1);
}
footer .icon li:not(:last-child) {
	margin-right: 3rem;
}
footer .icon li img {
	opacity: 1;
	transform: scale(.7);
}
footer .icon li img:hover {
	opacity: .7;
}
footer .copy {
	text-align: center;
	color: #fff;
	font-size: 1.7rem;
}

@media screen and (max-width: 991px) {
	section {
		padding: 10rem 5rem;
	}
	/* ! Button Home */
	.btn-home {
		bottom: 3rem; right: 3rem;
	}
	/* ! Header */
	header, header.sticky {
		background: var(--mainColor);
		padding: 1.5rem 3rem;
	}
	header .brand {
		color: #fff;
	}
	header .navbar {
		position: fixed;
		top: 7rem; left: -100%;
		display: block;
		padding: 3rem 5rem;
		text-align: center;
		width: 100%;
		height: var(--heightSize);
		background: rgba(255,255,255,1);
		transition: .5s;
		border-top: .1rem solid rgba(0,0,0,.2);
		z-index: 10;
	}
	header .navbar.active {
		left: 0;
	}
	header .navbar ul {
		flex-flow: column;
	}
	header .navbar ul li a {
		color: var(--mainColor);
		font-size: 1.7rem;
		margin: 1rem;
	}
	header .navbar ul li a:active {
		color: var(--btnColor2);
	}
	header .navbar ul :is(li:nth-child(6) a) {
		background: transparent;
		color: var(--mainColor);
	}
	header .toggle {
		width: 4rem;
		height: 4rem;
		background: url(../img/menu.png) no-repeat;
		background-position: center;
		background-size: 3rem;
		cursor: pointer;
		transition: .2s;
	}
	header .toggle.active {
		background: url(../img/close.png) no-repeat;
		background-position: center;
		background-size: 2.5rem;
		cursor: pointer;
	}
	/* * Opening */
	.opening {
		padding: 10rem 5rem 0;
	}
	.opening .share .tableBx {
		display: none;
	}
	#container :is(.title, .head) {
		font-weight: 600;
	}
}
@media screen and (max-width: 600px) {
	section {
		padding: 5rem 2rem;
	}
	/* ! Public Button */
	.btn-btn:first-child {
		display: none;
	}
	/* * Opening */
	.opening {
		padding: 10rem 2rem 0;
	}
	.opening .titleBx .title {
		font-size: 2rem;
	}
	.opening .titleBx .version {
		font-size: 1.7rem;
	}
	.opening .share {
		margin-top: 2rem;
	}
	/* * About */
	.about .aboutBx {
		flex-flow: column;
	}
	.about .aboutBx .textBx {
		margin-top: 3.5rem;
		margin-left: 0;
	}
	.about .aboutBx .textBx .title {
		font-size: 1.6rem;
		font-weight: 700;
	}
	/* * Notice */
	.notice {
		width: 33rem;
	}
	/* * Content */
	.content {
		height: 0%;
		position: static;
		overflow: visible;
		padding-right: 0;
	}
	.content .box {
		position: static;
		transform: translateX(0);
		padding-bottom: 2rem;
	}
	.content :is(.btn-box, .box .box-right) {
		display: none;
	}
	.box-left .btn-group .btn {
		margin-bottom: 1.5rem;
	}
}